*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Tohama', Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: fantasy;
    color: #F94892;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FCE700;
    z-index: 1;
    border-bottom: 1px solid #FF87B2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    padding-left: 50px;
    padding-right: 10px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'fantasy';
    color: #F94892;
}

h2 {
    font-family: 'fantasy';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #F94892;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #F94892;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FF87B2;
    text-decoration: none;
}

a.tbl-pink {
    background: #FCE700;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FF87B2;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #FFFA4D;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

b {
    color: #F94892;
}

iframe {
    margin-top: 20px;
    padding-top: 65px;
}

a.tbl-merah {
    background: #F94892;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover {
    background: #FF87B2;
    text-decoration: none;
}

